{% extends "admin/layoutAdmin.njk" %}

{% block content %}
    <form class ="card" method ="POST" action="/admin/chefs"  enctype="multipart/form-data">
        <section class="title">
            <div class="cabecalho">
                <h1>Criando chef</h1>
                <button type="submit">Salvar chef</button>
            </div>
                <aside class="receitas">
                {%include "admin/chefs/fields.njk" %}
            </aside>
        </section>  
    </form>
{% endblock content %}