

<div class="item">
    <h3>Avatar do</h3>
    <div>
        <div id="photos-preview">
            <div id="photos-upload">
                <input 
                id="photos-input"
                type="file" 
                name="chef_photos" 
                multiple="multiple"
                accept="image/*"
                onChange='PhotosUpload.handleFileInput(event)'>
                <p>
                    <span class="material-icons">
                        add
                    </span>
                </p>
            </div>
            {% if avatar %}
                    <div id="{{chef.file_id}}" class="photo">
                        <img src="{{ avatar[0].src}}" alt="{{ chef.name }}">
                        <i class="material-icons" onclick="PhotosUpload.removeOldPhoto(event)">
                            delete
                        </i>
                    </div>
                <input type="hidden" name="removed_files">
            {% endif %}
        </div>
</div>

<div class="item">
    <div>Nome</div>
    <div><input type="text" name="name" value="{{chef.name}}"></div>
</div>