{% extends "admin/layoutAdmin.njk" %}

{% block content %}
<form class ="card" method ="POST" action="/admin" >
        <section class="title">
            <div class="cabecalho">
                <h1>Criando Receita</h1>
                <button type="submit">Criar receita</button>
            </div>
                <aside class="receitas">
                    <div>
                        <h3>Imagem da receita</h3>
                        <input type="text" name="image" placeholder='https://' value="{{foundRecipes.image}}"required>
                    </div>

                    <div>
                        <h3>Nome da receita</h3>
                        <input type="text" name="title" placeholder="Nome da receita" value="{{foundRecipes.title}}"required>
                    </div>

                    <div>
                        <h3>Criador da receita</h3>
                        <input type="text" name="author" placeholder="Criador da receita" value="{{foundRecipes.author}}"required>
                    </div>

                <div class="item">
                    <div id="ingredients">
                        <h3>Ingredientes</h3>
                            <div class="ingredient">
                            
                                <input type="text" name="ingredients[]" placeholder="Descreva os ingredientes um a um" value="{{ingredients}}" id="addIngre">
                            
                            </div>
                    </div>
                    </div>
                    <p class="newIngre">+ Adicionar novo ingrediente</p>

                <div class="item">
                    <div id="preparation">
                        <h3>Modo de preparo</h3>
                            <div class="preparation">
                                <input type="text" name="preparation[]" placeholder="Descreva os passos bem detalhadamente um a um" value="{{preparation}}" id="addPrep">
                            </div> 
                    </div>
                    </div>
                    <p class="newPrep" >+ Adicionar novo passo</p>
                    
                    <div class="item">
                    <div>
                    <h3>informaçoes adicionais</h3>

                    <textarea name="information" rows="10" cols="50" placeholder="Descreva sua receita.">{{foundRecipes.information}}</textarea>
                </div>
                </div>
            </aside>
    </section>  
</form>

{% if saved %}
    {%include "admin/modal.njk"%}
{% endif %}


{% endblock content %}