<aside class="receitas">
    <div>
        <h3>Imagem da receita</h3>
        <input type="text" name="image" value="{{recipes.image}}">
    </div>

    <div>
        <h3>Nome da receita</h3>
        <input type="text" name="title">
    </div>

    <div>
        <h3>Criador da receita</h3>
        <input type="text" name="author">
    </div>

<div class="item">
    <div id="ingredients">
        <h3>Ingredientes</h3>
            <div class="ingredient">
                <input type="text" name="ingredients[]" value ="" id="addIngre">
            </div>
    </div>
    </div>
    <p class="newIngre">+ Adicionar novo ingrediente</p>

<div class="item">
    <div id="preparation">
        <h3>Modo de preparo</h3>
            <div class="preparation">
                <input type="text" name="preparation[]" value="" id="addPrep">
            </div> 
    </div>
    </div>
    <p class="newPrep" >+ Adicionar novo passo</p>
    
    <div class="item">
    <div>
        <h3>informaçoes adicionais</h3>
        <textarea name="information"  cols="30" rows="10" n>
            
        </textarea>
    </div>
    </div>

</aside>