<aside class="receitas">
    <div>
        <h3>Imagem da receita</h3>
        <input type="text" name="image">
    </div>

    <div>
        <h3>Ingredientes</h3>
        <input type="text" name="ingredients">
        <span>Adicionar novo ingrediente</span>

    </div>

    <div>
        <h3>Modo de preparo</h3>
        <input type="text" name="preparation">
        <span>Adicionar novo ingrediente</span>
    </div>

    <div>
        <h3>informaçoes adicionais</h3>
        <textarea name="information"  cols="30" rows="10" >
            
        </textarea>
    </div>

</aside>