<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesAdmin.css">
    {% block title %}
         <title>Admin-Foodfy</title>
    {% endblock title %}
    
</head>
<body>
    <header>
        <div class="menu">
            <img src="/assets/logo-white.png" alt="logo-foodfy">
        </div>
    </header>

    {% block content %}{% endblock content %}


    <script src="scripts.js"></script>
</body>
</html>