{% extends "admin/layoutAdmin.njk" %}

{% block content %}

    <section class="title">
        <div class="cabecalho">
            <h1>Gerenciar receitas</h1>
        </div>

        <div class="cards">

            <div class="card">
                <div class="img-receita">
                    <img src="/assets/burger.png" alt="burger">
                </div>
                <div class="card-infos">
                    <h3>Triplo bacon burger</h3>
                    <p>por Jorge Relato</p>
                    <p class="visu">Visualizar<p> 
                </div>
             </div>

    <div class="card">
                <div class="img-receita">
                    <img src="/assets/burger.png" alt="burger">
                </div>
                <div class="card-infos">
                    <h3>Triplo bacon burger</h3>
                    <p>por Jorge Relato</p>
                    <p class="visu">Visualizar<p> 
                </div>
             </div>

             <div class="card">
                <div class="img-receita">
                    <img src="/assets/burger.png" alt="burger">
                </div>
                <div class="card-infos">
                    <h3>Triplo bacon burger</h3>
                    <p>por Jorge Relato</p>
                    <p class="visu">Visualizar<p> 
                </div>
             </div>

         <div class="card">
                <div class="img-receita">
                    <img src="/assets/burger.png" alt="burger">
                </div>
                <div class="card-infos">
                    <h3>Triplo bacon burger</h3>
                    <p>por Jorge Relato</p>
                    <p class="visu">Visualizar<p> 
                </div>
             </div>

    </section>
       

{% endblock content %}