{% extends "admin/layoutAdmin.njk" %}

{% block content %}

    <section class="title">
        <div class="cabecalho">
            <h1>Gerenciar receitas</h1>
        </div>

        <div class="cards">
            {%for  recipe in recipes%}
            <div class="card">
                <div class="img-receita">
                    <img src="{{recipe.image}}" alt="burger">
                </div>
                <div class="card-infos">
                    <h3>{{recipe.title}}</h3>
                    <p>{{recipe.author}}</p>
                   <a class="visu" href="/admin/details/:id">Visualizar</a> 
                </div>
             </div>
             {%endfor%}
        </div>
  

    </section>
       

{% endblock content %}