

{% block content %}
<div class="modal">
    <img src="/assets/chef.png" alt="chefe">
    <h1>Receita cadastrada com sucesso</h1>
</div>

{% endblock content %}

<script>
    setTimeout(()=>{
    window.location = "/"
    },2000)
</script>