<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap" rel="stylesheet">
    
    {%include 'parts/StylesFoodfy.njk'%}

    {% block style %}{% endblock %}
    {% block styleChefs %}{% endblock styleChefs %}
    
    {% block title %}
        <title>Foodfy</title>
    {% endblock  %}
    
</head>
    <body>
    {%include 'parts/messages.njk'%}
        <div class="container">
            <header>
                <div class="logo">
                <a href="/"><img src="/assets/logo.png" alt="logo"></a>
                </div>
                <div class="menu">
                    <nav>
                        <a href="/receitas">Receitas</a>     
                        <a href="/sobre">Sobre</a> 
                        <a href="/chefs">Chefs</a> 
                        {%if session.userId%}
                            <a href="/admin/recipes">Admin</a>
                        {%else%} 
                            <a href="/admin/login">Login</a>
                        {%endif%} 
                    </nav>
                </div>
               
                <div class="filter">
                    <form action="/buscar" method="GET">
                        <input type="text" placeholder="Receita ou Chef" name="filter" value="{{filter}}">
                        <button type="submit">Buscar</button>
                    </form>
                </div>

            </header>

            {% block content %} {% endblock %}
                <footer>
                    <p class="direitos">Todos os direitos reservados, receitas Foodfy.</p>
                </footer>
            {%block script%}{%endblock%}
            {% block pagination %}
            {% endblock pagination %}

            <script src="/scripts/scripts.js"></script>
            <script src="/scripts/validates.js"></script>
        </div>
    </body>
</html>