{% extends "foodfy/layout.njk" %}

{% block title %}
    <title>Receitas-Foodfy</title>
{% endblock %}

{% block content %}
    <div class="content">
        <aside class="cards" id="cursor">
                {% for recipe in recipes %}
                    <div class="card" id="{{recipe.id}}">
                        <div class="img-card">
                            <img src={{recipe.image}} alt="{{recipe.title}}">
                        </div>
                        <div class="info-card">
                            <p>{{recipe.title}}</p>
                            <p class="criador">{{recipe.chef_name}}</p>
                        </div>
                    </div>
                {% endfor %}
        </aside>
        <div class="pagination"
            data-page={{pagination.page}}
            data-total={{pagination.total}}
            data-filter={{filter}}
        ></div>
    </div>
{% endblock %}

{% block pagination %}
    <script src="/scripts/pagination.js"></script>
{% endblock pagination %}

{%block script%}
    <script src="/scripts/scripts.js"></script>
    <script src="/scripts/cardId.js"></script>
{%endblock%}