{% extends "foodfy/layout.njk" %}

{% block title %}
    <title>{{recipes.title}}</title>
{% endblock %}

{% block filter %}
    <div class="filter">
       <form action="/buscar" method="GET">
            <input type="text" placeholder="Receita ou Chef" name="filter" value="{{filter}}">
            <button type="submit">Buscar</button>
        </form>
    </div>
{% endblock filter %}

{% block content %}
    <div class="content">
        <div class="info_receita">
            <div class="loja">
                <div class="img_receita">
                    <img class="img-r" src="{{ images[0].src }}" alt="{{recipe.title}}">
                </div>
                <div class="vendedor">
                    <h1 class="nome_receita">{{recipes.title}}</h1>
                    <p class="criador" >{{recipes.chef_recipes}}</p>
                </div>
            </div>

            <div class="ingredientes_receita">
                <div class="ingredientes ">
                    <div class="btn">
                        <h2 class="ingre">Ingredientes</h2>
                        <span>ESCONDER</span>
                    </div>
                    <ul class=" lista ">
                        {% for ingredients in recipes.ingredients %}
                            <li>{{ingredients}}</li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="ingredientes">
                    <div class="btn">
                        <h2 class="ingre">Modo de preparo</h2>
                        <span class="">ESCONDER</span>
                    </div>
                    <ul class=" lista">
                        {% for preparation in recipes.preparation %}
                            <li>{{preparation}}</li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="ingredientes">
                    <div class="btn">
                        <h2 class="ingre">Informaçoes adicionais</h2>
                        <span >ESCONDER</span>
                    </div>
                    <ul class="lista">
                        <li>{{recipes.information}}</li>

                    </p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{%block script%}
    <script src="/scripts.js"></script>
    {%endblock%}