{% extends "foodfy/layout.njk" %}

{% block title %}
    <title>Receitas-Foodfy</title>
{% endblock %}

{% block content %}
    <h1 class="buscando">Buscando por "{{filter}}"</h1>
        <div class="content">
            <aside class="cards" id="cursor">
                    {% for recipe in recipes %}
                        <div class="card" id="{{recipe.id}}">
                            <div class="img-card">
                                <img src="{{recipe.img}}" alt="{{recipe.title}}">
                            </div>
                            <div class="info-card">
                                <p>{{recipe.title}}</p>
                                <p class="criador">{{recipe.chefs_name}}</p>
                            </div>
                        </div>
                    {% endfor %}
            </aside>
        </div>
{% endblock %}

{%block script%}
    <script src="/scripts/scripts.js"></script>
    <script src="/scripts/cardId.js"></script>
{%endblock%}