{% extends "layout.njk" %}
{% block title %}
    <title>Foodfy</title>
{% endblock %}

{% block content %}

    <div class="content">
        <section class="chamada">
            <div class="intro">
                <h1>As melhores receitas</h1>
                <p>aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro.</p>
            </div>
            <div class="img-intro">
                <img src="/assets/chef.png" alt="chefe">
            </div>
        </section>

        <aside class="mais-acessadas">
            <h1>Mais acessadas</h1>
            <div class="cards">
                {% for recipe in recipes %}
                    <div class="card" id ="{{recipe.id}}">
                        <div class="img-card">
                            <img src={{recipe.image}} alt="{{recipe.title}}">
                        </div>
                        <div class="info-card">
                            <p>{{recipe.title}}</p>
                            <p class="criador">{{recipe.author}}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </aside>
    </div>
    
{% endblock %}