<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/geral.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap" rel="stylesheet">
    {% block title %}
    <title>Foodfy</title>
    {% endblock  %}
    
</head>
<body>
    <header>
        <div class="logo">
           <a href="/"><img src="/assets/logo.png" alt="logo"></a>
        </div>
        <div class="menu">
            <nav>
                   <a href="/sobre">Sobre</a> 
                   <a href="/receitas">Receitas</a> 
            </nav>
        </div>
    </header>

    {% block content %}

    {% endblock %}
 
         <footer>
            <p class="direitos">Todos os direitos reservados, receitas Foodfy.</p>
        </footer>

        {%block script%}
        <script src="/scripts.js"></script>
         {%endblock%}
    </body>
</html>