{% extends "layout.njk" %}

{% block title %}
    <title>{{foundRecipes.title}}</title>
{% endblock %}

{% block content %}
    <div class="content">
        <div class="info_receita">
            <div class="loja">
                <div class="img_receita">
                    <img class="img-r" src="{{foundRecipes.image}}" alt="{{foundRecipes.title}}">
                </div>
                <div class="vendedor">
                    <h1 class="nome_receita">{{foundRecipes.title}}</h1>
                    <p >{{foundRecipes.author}}</p>
                </div>
            </div>

            <div class="ingredientes_receita">
                <div class="ingredientes ">
                    <div class="btn">
                        <h2 class="ingre">Ingredientes</h2>
                        <span>ESCONDER</span>
                    </div>
                    <ul class=" lista ">
                        {% for ingredients in foundRecipes.ingredients %}
                            <li>{{ingredients}}</li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="ingredientes">
                    <div class="btn">
                        <h2 class="ingre">Modo de preparo</h2>
                        <span class="">ESCONDER</span>
                    </div>
                    <ul class=" lista">
                        {% for preparation in foundRecipes.preparation %}
                            <li>{{preparation}}</li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="ingredientes">
                    <div class="btn">
                        <h2 class="ingre">Informaçoes adicionais</h2>
                        <span >ESCONDER</span>
                    </div>
                    <ul class="lista">
                        <li>{{foundRecipes.information}}</li>

                    </p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{%block script%}
    <script src="/scripts.js"></script>
    {%endblock%}