{% extends "layout.njk" %}

{% block title %}
    <title>Receitas-Foodfy</title>
{% endblock %}

{% block content %}
    <div class="content">
        <aside class="cards">

            {% for item in items %}
                <div class="card" id={{items.indexOf(item)}}>
                    <div class="img-card">
                        <img src={{item.image}} alt="{{item.title}}">
                    </div>
                    <div class="info-card">
                        <p>{{item.title}}</p>
                        <p class="criador">{{item.author}}</p>
                    </div>
                </div>
            {% endfor %}

        </aside>
    </div>

{% endblock %}

{%block script%}
    <script src="/scripts-card.js"></script>
    {%endblock%}