<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
    <link rel="stylesheet" href="/styles/stylesAdmin.css">
    <link rel="stylesheet" href="/styles/header.css">
    <link rel="stylesheet" href="/styles/chefs.css">
    <link rel="stylesheet" href="/styles/gallery.css">
    <link rel="stylesheet" href="/styles/users.css">
    <link rel="stylesheet" href="/styles/messages.css">
    {% block styles %} {% endblock styles %}
    
    {% block title %}
         <title>Admin-Foodfy</title>
    {% endblock title %}
    
</head>
<body>
    {%include 'parts/messages.njk'%}
    <header>
        <div class="headerContainer">
            <div class="logo">
                <a href="/admin/recipes"> Foodfy</a>
            </div>
            <div class="menu">
                <nav class="navAdmin">
                    <a class="menuAdmin" href="/admin/recipes">Receitas</a>     
                    <a class="menuAdmin" href="/admin/chefs">Chefs</a>     
                    <a class="menuAdmin" href="/admin/users/edit">Minha conta</a>     
                    <a class="menuAdmin" href="/admin/users">Usuários</a>     
                </nav>
            </div>
        </div>
        <a class="destroy" href="/admin/users">Sair</a>     
    </header>

    {% block content %}{% endblock content %}
    {% block confirmDelete %}{% endblock confirmDelete %}
    <script src="/scripts.js"></script>
    <script src="/photos.js"></script>


</body>
</html>

