@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

header{
    background-color: black;
    height: 80px;
}

header .menu{
    display: flex;
    justify-content: right;
    align-items: center;
    width: 75vw;
    height: 100%;
    margin: 0 auto;

}

.title{
    width: 75vw;
    margin: 50px auto;
}

.title .cabecalho{
    display: flex;
    justify-content: space-between;
    position: relative;
}

.title .cabecalho h1{
    color:#111111;
    font-size: 24px;
    line-height: 28px;
}

.title .cabecalho button,
.title #form-delete .delete{
    background-color:  #6558C3;
    border-radius: 4px;
    width: 139px;
    height:37px;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 19px;
    transition: 0.6s;
    cursor: pointer;
}
.title .cabecalho button:hover{
    background-color: #554b9e;
   
}

.title #form-delete .delete{
    background-color: #DC4747;
    position: absolute;
    right: 295px;
    top: 130;
    cursor: pointer;
    
}

.title #form-delete .delete:hover{
    background-color: #b14040;
}


.receitas input,
textarea{
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    padding: 10px 5px;
}



.receitas h3{
    font-size: 16px;
    line-height: 19px;
    color: #111111 ;
    margin: 22px 0 10px 0;
}

.receitas .modPrep {
    font-size: 16px;
    color: #6558C3;
    text-align: right;
    margin-top:10px;
    display: inline-block;
    cursor: pointer;
    transition: 0.4s;
}

.receitas .newIngre{
    font-size: 16px;
    color: #6558C3;
    text-align: right;
    margin-top:10px;
    display: inline-block;
    cursor: pointer;
    transition: 0.4s;
}

.receitas .newIngre:hover{
    transform:translateX(5px) ;
    font-weight: 700;

}

.receitas .modPrep:hover{
    transform:translateX(5px) ;
    font-weight: 700;

}










