@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

header{
    background-color: black;
    width: 100%;
    height: 80px;
}

header .menu{
    display: flex;
    justify-content: right;
    align-items: center;
    width: 75vw;
    height: 100%;
    margin: 0 auto;
}

.title{
    width: 75vw;
    margin: 50px auto;
}

.title .cabecalho{
    display: flex;
    justify-content: space-between;
    position: relative;
}

.title .cabecalho h1{
    color:#111111;
    font-size: 24px;
    line-height: 28px;
}

.title .cabecalho button,
.title #form-delete .delete,
.title .cabecalho .editDetails{
    background-color:  #6558C3;
    border-radius: 4px;
    width: 139px;
    height:37px;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 19px;
    transition: 0.6s;
    cursor: pointer;
    border: none;
    font-family: 'Roboto', sans-serif;
}

.title .cabecalho .editDetails:hover,
.title .cabecalho button:hover{
    background-color: #554b9e;
}

.title .cabecalho .editDetails{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.title #form-delete .delete{
    background-color: #DC4747;
    position: absolute;
    right: 310px;
    top: 130;
    cursor: pointer;
    border: none;
}

.title #form-delete .delete:hover{
    background-color: #b14040;
}

.receitas input,
textarea{
    width: 100%;
    background: #fffefe;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    padding: 10px 5px;
}

.receitas h3{
    font-size: 16px;
    line-height: 19px;
    color: #111111 ;
    margin: 22px 0 10px 0;
}

.receitas .modPrep {
    font-size: 16px;
    color: #6558C3;
    text-align: right;
    margin-top:10px;
    display: inline-block;
    cursor: pointer;
    transition: 0.4s;
}

.receitas .newPrep,
.receitas .newIngre{
    font-size: 16px;
    color: #6558C3;
    text-align: right;
    margin-top:10px;
    display: inline-block;
    cursor: pointer;
    transition: 0.4s;
}

.receitas .newPrep:hover,
.receitas .newIngre:hover{
    transform:translateX(5px) ;
    font-weight: 700;
}

.receitas .modPrep:hover{
    transform:translateX(5px) ;
    font-weight: 700;
}

.preparation,
#ingredients .ingredient{
    margin-bottom: 11px;
    display: flex;
}

#ingredients .ingredient #addIngre{
    border-radius:  4px 0px 0px 4px;
}

#ingredients .ingredient img:hover{
    border-radius: 0 4px 4px 0;
    background-color:rgb(233, 14, 14);
}

#ingredients .ingredient  img{
    width: 24px;
    height: 37.6px;
    background-color: rgb(221, 217, 217);
    border-radius: 0 4px 4px 0;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.6s;
    cursor: pointer;
}

#ingredients .ingredient  img.visible{
    display: block;
}

.content  h3{
    font-size: 24px;
    color: #111111;
}

.title .cabecalhoDetails {
    display: flex;
    justify-content: space-between;
}

.info_receita .loja {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

.loja .img_receita {
    width: 100%;
    border-radius: 16px;
    margin: 20px 0;
}

.loja img {
    width: 100%;
    height: 50vh;
    border-radius: 16px;
    object-fit: cover;
    object-position: center;
}

.loja .vendedor {
    text-align: center;
}

.loja .vendedor .nome_receita {
    margin-bottom: 5px;
}

.nome_receita p {
    font-size: 20px;
    color: #777777;
    margin-top: 6px;
}

.info_receita .ingredientes_receita .btn {
    display: flex;
    margin-bottom: 20px;
}

.ingredientes_receita .btn .ingre {
    display: flex;
    align-items: flex-end;
    margin: 0;
    height: -2px;
}

.ingredientes_receita .ingredientes {
    margin-bottom: 30px;
}

.ingredientes_receita .btn span {
    display: flex;
    align-items: flex-end;
    margin-left: 7px;
    font-size: 12.5px;
    cursor: pointer;
    color: #999999;
}

.ingredientes_receita .lista1, .lista2 {
    line-height: 23px;
    margin-bottom: 20px;
}

.ingredientes_receita ul li {
    list-style-position: inside;
    margin-bottom: 5px;
}

.ingredientes_receita p {
    line-height: 23px;
}

.active {
    display: none;
}

.title .cabecalho h1{
    margin-bottom: 30px;
}

.title .cards{
    display: grid;
    grid-template-columns:  1fr 1fr ;
    gap: 10px;
}

.title .cards .card{
    display: flex;
}

.title .card-infos{
    margin: 12px 0;
    margin-left: 20px;
}

.title .card-infos h1{
    font-size: 18px;
    color: #111111;
    line-height: 21px;
}

.title .card-infos p{
    font-size: 14px;
    color: #777777;
    line-height: 16px;
    margin:10px 0;
}

.title .card-infos .visu{
    color: #6558C3;
    font-size: 14px;
    line-height: 16px;
    cursor: pointer;
    transition:0.4s;
    text-decoration: none;
    display: inline-block;
}

.title .card-infos .visu:hover{
    font-weight: bold;
    transform:translateX(5px) ;
}

.title .cards .card img{
    width: 280px;
    height: 120px;
    border-radius: 15px;
    margin-bottom: 15px;
}






