
        <div class="item">
            <div>Nome</div>
            <div class="input">
                <input 
                    type="text"
                    name="name"
                    placeholder ="Digite seu nome completo"
                    value="{{user.name}}" >
            </div>
        </div>

        <div class="item">
            <div>Email</div>
            <div class="input">
                
                <input 
                    type="email"
                    name="email"
                    placeholder ="Digite seu email"
                    value="{{user.email}}"
                    onblur="Validate.apply(this,'isEmail')"
                     >
            </div>
        </div>

        

        <div class="item">
            <div>Nova senha</div>
            <div class="input">
                <input 
                    type="password"
                    name="password"    
                    placeholder ="Digite sua senha ou uma nova senha para atualziar"
                    >
            </div>
        </div>

        <div class="item">
            <div>Repetir Senha</div>
            <div class="input">
                <input 
                    type="password"
                    name="passwordRepeat"
                    placeholder ="Repita a senha "
                     >
            </div>
        </div>

       


