{% extends "admin/layoutAdmin.njk" %}


{% block title %}
    <title>Detalhes: {{recipes.title}}</title>
{% endblock %}

{% block content %}
    <section class="title">
        <div class="cabecalho">
            <h1 >Receita: {{recipes.title}}</h1>
            <a  class="editDetails" href="/admin/recipes/details/{{recipes.id}}/edit">Editar receita</a>
        </div>

        <div class="info_receita" id ={{recipes.id}}>
            <div class="loja">
                <div class="img_receita">
                    <img class="img-r" src="{{recipes.image}}" alt="{{recipes.title}}">
                </div>
                <div class="vendedor">
                    <h1 class="nome_receita">{{recipes.title}}</h1>
                    <p >{{recipes.chef_recipes}}</p>
                </div>
            </div>  

            <div class="ingredientes_receita">
                <div class="ingredientes ">
                    <div class="btn">
                        <h2 class="ingre">Ingredientes</h2>
                        
                    </div>
                    <ul class=" lista ">
                        {% for ingredients in recipes.ingredients %}
                            <li>{{ingredients}}</li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="ingredientes">
                    <div class="btn">
                        <h2 class="ingre">Modo de preparo</h2>
                        
                    </div>
                    <ul class=" lista">
                        {% for preparation in recipes.preparation %}
                            <li>{{preparation}}</li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="ingredientes">
                    <div class="btn">
                        <h2 class="ingre">Informaçoes adicionais</h2>
                        
                    </div>
                    <ul class="lista">
                        <li>{{recipes.information}}</li>

                    </p>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{%block script%}
    
    {%endblock%}