{% extends "admin/layoutAdmin.njk" %}


{% block title %}
    <title>Detalhes: {{recipe.title}}</title>
{% endblock %}

{% block content %}
    <section class="title">
        <div class="cabecalho">
            <h1 >Receita: {{recipe.title}}</h1>
            
            <a  class="editDetails" href="/admin/recipes/details/{{recipe.id}}/edit">Editar receita</a>
        </div>
        <div class="info_receita" id ="{{recipe.id}}">
            <div class="loja">
                <div class="img_receita">
                    <div class="gallery">
                        <div class="highlight">
                            {% if not images [0] %}
                            <img src="http://placehold.it/500x500?text=PRODUTO SEM FOTO" />
                            {% else %}
                            <img 
                                class="img-r" 
                                src="{{images[0].src}}"
                                alt="{{images[0].name}}" 
                                onClick="lightbox.open()">
                            {% endif %}  
                            
                        </div>
                    </div>
                    <div class="vendedor">
                        <h1 class="nome_receita">{{recipe.title}}</h1>
                        <p>{{recipe.chef_recipes}}</p>
                    </div>
                </div>  

                <div class="galery">
                    {%for image  in images %}
                        <div class="container-img">
                            <img src = "{{image.src}} " 
                            {% if loop.index0 ==0 %}
                                class="active"
                            {% endif %}
                            onClick ="ImageGallery.setImage(event)"
                            >
                        </div>
                    {%endfor%}
                </div>
            </div>

            <div class="ingredientes_receita">
                <div class="ingredientes ">
                    <div class="btn">
                        <h2 class="ingre">Ingredientes</h2>
                    </div>
                    <ul class=" lista ">
                        {% for ingredients in recipe.ingredients %}
                            <li>{{ingredients}}</li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="ingredientes">
                    <div class="btn">
                        <h2 class="ingre">Modo de preparo</h2> 
                    </div>
                    <ul class=" lista">
                        {% for preparation in recipe.preparation %}
                            <li>{{preparation}}</li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="ingredientes">
                    <div class="btn">
                        <h2 class="ingre">Informaçoes adicionais</h2>
                    </div>
                    <ul class="lista">
                        <li>{{recipe.information}}</li>
                    </p>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{%block script%}{%endblock%}