{% extends "admin/layoutAdmin.njk" %}

{% block content %}

<div class ="card order">
    <div class="">
        <form  method ="POST" action="/admin/recipes?_method=PUT" enctype="multipart/form-data">
            <section class="title">
                <div class="cabecalho">
                    <h1>Criando Receita</h1>
                    <div class="form_Position">
                        <button class="save" type="submit">Salvar receita</button>
                        <button class="delete" form="form-delete" type="submit">Deletar</button> 
                    </div>
                </div>
                <aside class="receitas">
                    <div class="item">
                        <h3>Imagem da receita</h3>
                        <div>
                            <div id="photos-preview">
                                <div id="photos-upload">
                                    <input 
                                    id="photos-input"
                                    type="file" 
                                    name="photos" 
                                    multiple 
                                    accept="image/*"
                                    onChange='PhotosUpload.handleFileInput(event)'>
                                    <p>
                                        <span class="material-icons">
                                            add
                                        </span>
                                    </p>
                                </div>
                                {% if files %}
                                    {% for image in files %}
                                        <div class="photo" id="{{image.id}}">
                                            <img src="{{image.src}}" alt="{{image.name}}">
                                            <i class="material-icons"
                                                onClick="PhotosUpload.removeOldPhoto(event)"
                                            >close</i>
                                        </div>
                                    {% endfor %}
                                    <input type="hidden" name="removed_files">
                                {% endif %}
                            </div>
                    </div>

                        <div>
                            <h3>Nome da receita</h3>
                                <input type="text" name="title" placeholder='Nome para sua receita' value="{{recipes.title}}"required>
                        </div>
                     <div class="item">
                        <h3>Selecione o Chef</h3>
                            <select name="chef" >
                                {% for chef in chefOptions %}
                                    <option value="{{chef.id}}"
                                        {% if recipes.chef_id == chef.id %}selected {%endif%} > 
                                        {{chef.name}}
                                    </option>
                                {% endfor %}
                            </select>
                    </div>

                        <div class="item">
                            <div id="ingredients">
                                <h3>Ingredientes</h3>
                                {% for ingredients in recipes.ingredients %}
                                    <div class="ingredient">
                                        <input type="text" name="ingredients[]" value="{{ingredients}}" id="addIngre">
                                        <div class="delete_field" onclick ="deleteField(event)">
                                             <img src="/assets/close.svg" alt="">
                                         </div>
                                    </div>
                                    {%endfor%}
                            </div>
                        </div>
                        <p class="newIngre">+ Adicionar novo ingrediente</p>

                        <div class="item">
                            <div id="preparation">
                                <h3>Modo de preparo</h3>
                                {% for preparation in recipes.preparation %}
                                    <div class="preparation">
                                            <input type="text" name="preparation[]" value="{{preparation}}" id="addPrep">
                                            <div class="delete_field" onclick ="deletePreparation(event)">
                                                <img src="/assets/close.svg" alt="">
                                            </div>
                                    </div> 
                                    {% endfor %}
                            </div>
                        </div>
                        <p class="newPrep" >+ Adicionar novo passo</p>
                                
                        <div class="item">
                            <div>
                                <h3>informaçoes adicionais</h3>
                                <textarea name="information"  cols="30" rows="10" >{{recipes.information}}</textarea>
                            </div>
                        </div>
                        <input type="hidden" name="id" value="{{recipes.id}}">
                </aside>
            </section>  
        </form>

        <form id="form-delete"   method="POST" action="/admin/recipes?_method=DELETE">
            <input type="hidden" name="id" value ={{recipes.id}}>        
        </form>
    </div>
</div>
{% endblock content %}

{% block confirmDelete %}
    <script src="/scripts/formdelete.js"></script>
{% endblock confirmDelete %}



