{% extends "foodfy/layout.njk" %}

{% block title %}
    <title>Error 404 - Not found</title>
{% endblock %}

{% block style %}
    <style>
        body{height:100vh;}
      .content{align-items:center;justify-content:center }
        h1{ font-size:40px;text-align:center}
        p{ text-align:center }
    </style>
{% endblock  %}

{% block content %}

    {%if authorization%}
        <h1>{{authorization}}</h1>
        <p>para retornar a pagina Anterior,<a href="/receitas">clique aqui</a> </p>
    {%else%}
        <h1>Desculpe, pagina não encontrada =/ </h1>
        <p>para retornar a pagina de anterior,<a href="javascript:history.back()">clique aqui</a> </p>
    {%endif%}
    
{% endblock %}

{%block script%}
    <script src="/scripts/scripts.js"></script>
    {%endblock%}